.App {
  text-align: center;
  background-color: #cfd8dc;
  height: 100vh;
}

.App-header {
  background-color: #607d8b;
  min-height: 70px;
  padding: 20px;
  color: #212121;
}

.App-title {
  font-size: 40px;
}

